
@{
    ViewBag.Title = "Index";
}

<h3>Regenerate stat test.</h3>
<small>Example: use 5 energy and refresh page after a minute.</small>
<div class="row">
    <div class="col-xs-4">
        <form action="/Test/UseEnergyTest" method="post">
            <div class="form-group">
                You have <strong>@ViewBag.Energy</strong> Energy.
            </div>
            <div class="form-group">
                <input type="text" name="use" class="form-control" placeholder="Use this much energy" />
            </div>
            <div class="form-group">
                <button type="submit" class="form-control btn btn-success">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-xs-4">
        <form action="/Test/AddResourcesTest" method="post">
            <div class="form-group">
                <select name="type">
                    <option value="Water">Water</option>
                    <option value="Wood">Wood</option>
                    <option value="Food">Food</option>
                    <option value="Stone">Stone</option>
                    <option value="Oil">Oil</option>
                    <option value="Iron">Iron</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" name="quantity" class="form-control" placeholder="Add this many" />
            </div>
            <div class="form-group">
                <input type="text" name="delayInSeconds" class="form-control" placeholder="In this many seconds (delay)" />
            </div>
            <div class="form-group">
                <button type="submit" class="form-control btn btn-success">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-xs-4">
        <form action="/Test/AddPopulationTest" method="post">
            <div class="form-group">
                <input type="text" name="quantity" class="form-control" placeholder="Add this many people" />
            </div>
            <div class="form-group">
                <input type="text" name="delayInSeconds" class="form-control" placeholder="In this many seconds (delay)" />
            </div>
            <div class="form-group">
                <button type="submit" class="form-control btn btn-success">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-xs-4">
        <form action="/Test/NightlyAttackTest" method="post">
            <div class="form-group">
                <input type="text" name="delayInSeconds" class="form-control" placeholder="In this many seconds (delay)" />
            </div>
            <div class="form-group">
                <button type="submit" class="form-control btn btn-success">Nightly Attack Test</button>
            </div>
        </form>
    </div>
</div>
