@model PixelApp.Views.Find.Models.FindFoodViewModel
@{
    ViewBag.Title = "Forage for Food";
}

<div class="alert alert-info">
    <p>Your people need to eat and sometimes you need some more, explore for some extra eats!</p>
    <p><strong>Click 'Forage' to spend 10 energy and hunt for food. You either find it or you don't, no negative consequences.</strong></p>
</div>

<p>
    <a href="@Url.Action("Food", new { forage = true })" class="btn btn-lg btn-danger">Forage! @(Model.HasForaged ? "(again!)" : string.Empty)</a>
</p>


@if (Model.HasForaged)
{
    <p class="alert alert-@(Model.IsSuccess ? "success" : "danger")">@Model.Message</p>
}
