@model PixelApp.Views.Find.Models.FindFoodViewModel
@{
    ViewBag.Title = "Forage for Food";
}

<p>
    <a href="@Url.Action("Food", new { forage = true })" class="btn btn-lg btn-danger">Forage! @(Model.HasForaged ? "(again!)" : string.Empty)</a>
</p>


@if (Model.HasForaged)
{
    <p class="alert alert-@(Model.IsSuccess ? "success" : "danger")">@Model.Message</p>
}
