@model PixelApp.Views.Find.Models.FindPeopleViewModel
@{
    ViewBag.Title = "Recruit People";
}

<div class="alert alert-info">
    <p>More people means better defences and more hands to gather precious resources. It also means more mouths to feed...</p>
    <p><strong>Click 'Recruit' to spend all your energy to look for survivors.</strong></p>
</div>

<p>
    <a href="@Url.Action("People", new { find = true })" class="btn btn-lg btn-danger">Recruit! @(Model.HasRecruited ? "(again!)" : string.Empty)</a>
</p>


@if (Model.HasRecruited)
{
    <p class="alert alert-@(Model.IsSuccess ? "success" : "danger")">@Model.Message</p>
}
