
@{
    ViewBag.Title = "Thanks";
}

<div class="alert alert-success">
    <h2>Thanks for your purchase!</h2>
    <h3>You will receive an in-game notification in your @Html.ActionLink("Mailbox", "Index", "Mailbox") when your boost begins!</h3>
</div>
