@model PixelApp.Views.Profile.Models.BadgeSkinny

<div class="badge-container">
    <img src="//@Model.ImageUrl" alt="@Model.Name" data-toggle="tooltip"
         class="game-badge @(Model.HasBadge ? string.Empty : "missing-badge")"
         title="@string.Format("{0} ({1:n0})<br>{2}", Model.Name, Model.Level, Model.Description)" />
    <span class="level-badge label label-success">@Model.Level</span>
</div>
