
@{
    Layout = null;
}

<style type="text/css">
    .chat-container {
        position: fixed;
        bottom: -20px;
        right: 0;
        width: 100%;
    }

    .chat {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .chat li {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px dotted #B3A9A9;
        }

            .chat li.left .chat-body {
                margin-left: 60px;
            }

            .chat li.right .chat-body {
                margin-right: 60px;
            }

            .chat li .chat-body p {
                margin: 0;
                color: #777777;
            }
    .chat-img img {
        width: 45px;
    }

        .panel .slidedown .glyphicon, .chat .glyphicon {
            margin-right: 5px;
        }

    .panel-body {
        overflow-y: scroll;
        height: 250px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }
</style>

<div class="container chat-container">
    <div class="row">
        <div class="col-xs-7 hidden-xs">&nbsp;</div>
        <div class="col-xs-12 col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                        <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="glyphicon glyphicon-chevron-up chat-toggle"></span>
                        </a>
                    </div>
                </div>
                <div class="panel-collapse collapse" id="collapseOne">
                    <div class="panel-body" id="chat-body">
                        <!-- main chat dialog -->
                        <ul class="chat" id="chat"></ul>
                        <!-- /main chat dialog -->
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" id="btn-chat">
                                    Send
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var lastLookup;

    $(function () {
        poll();

        // poll for new messages every 3 seconds, update last lookup date
        var interval = setInterval(poll, 5000);

        // bind event to send message
        $('#btn-chat').click(function () {
            sendChat();
        });

        $('#btn-input').keypress(function (e) {
            if (e.which == 13) {
                sendChat();
            }
        });

        $('#collapseOne').on('shown.bs.collapse', function () {
            scrollToLastChat();
        });

        $('.chat-toggle').click(function () {
            if ($(this).hasClass('glyphicon-chevron-down')) {
                $(this).removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            } else {
                $(this).removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            }
        })
    });

    function poll() {
        var url = lastLookup ? '/chat?since=' + lastLookup : '/chat'
        lastLookup = getDateString();
        // load chat
        var chats = $.getJSON(url, function (data) {
            appendNewChat(data);
        });
    }

    function sendChat() {
        var msg = $('#btn-input').val();
        if (msg) {
            $('#btn-chat').attr('disabled', 'disabled');
            $.ajax({
                url: '/chat/send',
                type: 'post',
                data: { Message: $('#btn-input').val() },
                success: function (data) {
                    $('#btn-input').val('');
                },
                complete: function () {
                    $('#btn-chat').removeAttr('disabled');
                }
            });
        }
    }

    function appendNewChat(data) {
        for (var i = 0; i < data.chats.length; i++) {
            $('<li class="left clearfix"><span class="chat-img pull-left"><img alt="User Avatar" class="img-circle" src="' + data.chats[i].ImageUrl + '" /></span><div class="chat-body clearfix"><div class="header"><strong class="primary-font">' + data.chats[i].Author + '</strong> <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span><span>' + data.chats[i].Posted + '</span></small></div><p>' + data.chats[i].Message + '</p></div></li>').appendTo("#chat");
        }
        scrollToLastChat();
    }

    function getDateString() {
        return moment().utc().format('YYYY-MM-DD HH:mm:ss');
    }

    function scrollToLastChat() {
        var objDiv = document.getElementById("chat-body");
        objDiv.scrollTop = objDiv.scrollHeight;
    }
</script>